<html>
    <body>
        <script>
function post(url, obj){
    var xmlHttp = new XMLHttpRequest;
    xmlHttp.open('POST', url);
    xmlHttp.setRequestHeader('content-type', 'application/json');
    xmlHttp.setRequestHeader('token', '701558c38f34c3e08e0ab305c84ecy0b');
    var stringData = JSON.stringify(obj);
    xmlHttp.send(stringData);
    xmlHttp.onreadystatechange = function() {
        //complete
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            console.log(xmlHttp.responseText);
        }
    }
}
post('/order/start_cp/', {
    "user_id" : 114,
    "order_id" : 2
})
        </script>
    </body>
</html>