.all {
	display: flex;
	flex-direction: column;
	background-color: rgb(246,246,246);
}
.top {
	display: flex;
	background: linear-gradient(to right,#FF6E53,#FF6E52,#FF8453 40%,#FF9758,#FFA859);
	height: 15vh;
}
.wenzi_gongyou{
	font-weight: bold;
	color: white;
	font-family: '楷体';
}
.wenzi1{
	margin-left: 3vw;
	margin-top:4vh;
	font-size: 80rpx;
}
.wenzi2{
	margin-top: 3vh;
	font-size: 100rpx;
}
.main {
	background-image: url("/static/homepage_background.jpg");
	height: 85vh;
	background-position: bottom;
}
.button_gongyou{
	position: fixed;
	border-radius: 50%;
	box-shadow: 15rpx 15rpx 15rpx rgba(0, 0, 0, 0.5);
	background-color: rgba(247, 247, 247, 0.8);
}
.button1 {
	left: 66vw;
	top: 3vh;
	height: 120rpx;
	width: 120rpx;
}
.button2 {
	left: 83vw;
	top: 3vh;
	height: 120rpx;
	width: 120rpx;
}
.button3 {
	top:30vw;
	left:20vh;
	height: 250rpx;
	width:250rpx;
}
.button4 {
	top: 65vw;
	left:30vh;
	height: 400rpx;
	width:400rpx;
}
.button5 {
	bottom:12vw;
	left:-8vh;
	height: 500rpx;
	width:500rpx;
}
.button1:active,
.button2:active,
.button3:active,
.button4:active,
.button5:active{
	transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	transform: rotate(20deg);
	background-color: #ff6e53;
}
.button-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text0{
	font-size: 30rpx;
}
.text1 {
	font-size: 35rpx;
}
.text2 {
	font-size: 50rpx;
}
.text3 {
	font-size: 60rpx;
}